<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.taogen.springiocdi.Bean"  />

    <bean id="MyXmlBean" class="com.taogen.springiocdi.Bean.MyXmlBean">
        <property name="name" value="xmlBean1" />
        <property name="injectBean" ref="MyInjectBean" />
    </bean>

    <bean id="MyInjectBean" class="com.taogen.springiocdi.Bean.MyInjectBean">
        <property name="name" value="injectBeanByXmlBean" />
    </bean>
</beans>